# top-most EditorConfig file
root = true

# All C# files
[*.cs]
# Indentation settings
indent_style = space
indent_size = 4

# Remove trailing whitespace
trim_trailing_whitespace = true

# Insert final newline
insert_final_newline = true

# C# specific rules
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion